body {
	background-image: url('../img/bg_home.jpg');
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px
}
header h1 {
	border-top: 2px solid #FFF;
	padding-top: 15px
}
nav a {
	color: #fff;
	margin-right: 4px;
	border: 1px solid #FFF;
	border-radius: 0 !important
}
#space-top {
	margin-top: 120px
}
.cover {
	background-size: cover;
}
nav li:hover a, .nav-active a, .btn-cha:hover {
	background-color: #FFF;
	color: #333;
	text-decoration: none;
}
nav li:hover, .nav-active {
	border-bottom: 1px solid #FFF;
	padding-bottom: 10px;
}
.mr0 {
	margin-right: 0 !important
}
.mb20 {
	margin-bottom: 20px
}
.btn-cha {
	border: 1px solid #FFF;
	border-radius: 0 !important;
	color: #FFF;
}
section {
	margin-top: 20px
}
article {
	padding: 15px;
	background-color: rgba(95, 95, 95, 0.27);
	margin-bottom: 20px;
}
.form-control {
	border-radius: 0 !important;
	background: none !important;
	border-color: #FFF;
	color: #FFF;
}
.carousel-control {
	background-image: none !important;
	width: 6%;
}
.carousel-control.left {
	left: -7.5%;
}
.carousel-control.right {
	right: -7.5%
}
@media (max-width: 800px) {
	.carousel-control.left {
		left: -2.5%;
	}
	.carousel-control.right {
		right: -2.5%
	}
}
@media (max-width: 1050px) {
	.nav>li>a {
		font-size: .85em;
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	.container {
		width: auto !important;
		padding-right: 40px !important;
		padding-left: 0 !important;
	}
}